/*清除；浏览器默认样式*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
ul,ol,dl,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#333;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
/*总结
1.body 有默认的margin值
2.ul,ol,dl,li  都会有内外边距,有默认的符号
3.连接默认是带有下划线的,连接的颜色默认是蓝色、
4.h1-h6默认的字体大小
5.input/button默认都会有边框,会有内外边距
*/